ENVIRONMENT=development

DATABASE_URL=postgresql://postgres:postgres@db:5432/mydatabase

INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=ChangeMe_Password@123

JWT_SECRET_KEY=your-super-secret-jwt-key-change-me-in-production

# SASTs
SEMGREP_RULESET= "auto"

# LLMs
OPENROUTER_API_KEY=your-api-key-here
GROQ_API_KEY=your-api-key-here
GOOGLE_API_KEY=your-api-key-here


